extends layout

block content
  h1= title
  h3 Welcome to the queue!
  div
    if queue.length > 0
      p Oldest
      ul(class='list-group')
        each val in queue
          li(class='list-group-item')=val
      p Newest
    else
      p The queue is empty!
  button#btnEnqueue Enqueue
  script(src='/javascripts/queue.js')
