extends layout


block content
  div#titleBox(class='jumbotron')
    h1= title
  div(class="container-fluid")
    div(class="row")
      div(class="col-md-6")
        h3 Are you a student?
        h4 Join a help queue!
        p Please indicate your name choose a course:
        form#studentEnterQueue
          div(class='form-group')
            input#studentName(type='text', class='form-control input-sm', placeholder='Name')
          div(class='form-group')
            select#slctStudentCourse(class='form-control input-sm')
              each val,index in queue
                option=index
          div(class='form-group')
            input(type='submit', class='btn', value='Go to queue!')
      div(class="col-md-6")
        h3 Are you a TA?
        h4 Enter your help queue!
        p Choose your course and enter its password:
        form#taEnterQueue
          div(class='form-group')
            select#slctTACourse(class='form-control input-sm')
              each val,index in queue
                option=index
          div(class='form-group')
            input#oldPassword(type='password', class='form-control input-sm', placeholder='Password')
          div(class='form-group')
            input(type='submit', class='btn', value='Enter queue!')
        h4 Create a help queue!
        p Enter your course name and lock it with a password:
        form#createQueue
          div(class='form-group')
            input#newCourse(type='text', class='form-control input-sm', placeholder='Course name')
          div(class='form-group')
            input#newPassword(type='password', class='form-control input-sm', placeholder='Password')
          div(class='form-group')
            input#verifyPassword(type='password', class='form-control input-sm', placeholder='Verify password')
          div(class='form-group')
            input#submitCreateQueue(type='submit', class='btn', value='Create a queue!')

