extends layout

block content
  h1= title
  p Please indicate your name and course
  input#studentName(type='text', placeholder='Name')
  input#course(type='text', placeholder='Course')
  button#btnSubmit Go to queue!
