doctype
html
  head
    title= title
    //link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css")
    script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js")
  body
    section#wrapper
        block content
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='/javascripts/queue.js')
    script(src='/javascripts/js.cookie.js')
    script(src='/javascripts/home.js')
