doctype
html
  head
    title= title
    // jquery
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    // cookie plugin
    script(src='/javascripts/js.cookie.js')
    // bootstrap
    link(rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css")
    script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js")
    // personal style
    link(rel='stylesheet', href='/stylesheets/style.css')
    // socket.io
    script(src="/socket.io/socket.io.js")
    script(src='/javascripts/client_queue.js')
  body
    section#wrapper
      block content
    // page scripts
    script(src='/javascripts/client_index.js')
    script(src='/javascripts/client_student.js')
    script(src='/javascripts/client_ta.js')
