extends layout

block content
  h1= title
  h3 Welcome to the queue!
  div
    table#queueList(class='table')
      thead
        tr
          th Name
          th Time stamp
      tbody
        each val in queue
          tr
            td=val.name
            td=val.timeStamp
  button#btnDequeue(class='btn') Dequeue
