extends layout

block content
  h1= title
  h3 Welcome to the queue!
  div
    p Oldest
    ul#queueList(class='list-group')
      each val in queue
        li(class='list-group-item')=val
    p Newest
  button#btnDequeue(class='btn') Dequeue
