body
  background #000

#wrapper
  width 920px
  text-align left 
  margin-left auto 
  margin-right auto
  background #fff
  padding 20px
  border-radius 20px

#titleBox
  text-align center
  border-radius 20px

//*
//  outline-color red
//  outline-style dashed
